
body {
    background-color: #666;
    height: 100%;
    padding: 0;
    margin: 0;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 35px;
    width: 100%;
    color: white;
    background-color: #5c2839;
    position: fixed;

}

.logo-box {
  height: 210px;
  width: 420px;
  float: left;
  background-color: #5c2839;
}

.TopButtons li {

    display: inline;
}


.Twitter-Feed {
    position: relative;
    bottom: -155px;
    left: -420px;
    height: 750px;
    width: 150px;
    float: left;
    background-color: #333;
}