:root {
    --red-salsa: #F73845;
}

@font-face {
    font-family: 'Ostrich';
    src: url(../assets/fonts/ostrich-regular.ttf);
}

@font-face {
    font-family: 'Bebas';
    src: url(../assets/fonts/BEBAS___.ttf);
}

@font-face {
    font-family: 'Bananas';
    src: url(../assets/fonts/BananasPersonalUse.ttf);
}

@font-face {
    font-family: 'Creshex';
    src: url(../assets/fonts/Creshex\ Brush.ttf);
}

body {
    /* background-color: #666; */
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-family: 'Bebas';
    font-size: 25px;
}

.main-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 35px;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: var(--red-salsa);

}

.logo-box {
  height: 210px;
  width: 420px;
  float: left;
  background-color: #5c2839;
}

.TopButtons li {

    display: inline;
}

#playerwrapper{
    width: 400px;
    margin: 5px auto;
    border-radius: 15px 15px;
    
}


#playerwrapper nav {
    background-color: red;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    padding-bottom: 1px;
    border-radius: 15px;
}

#defaultBar{
    height: 10px;
    width: 400px;
    position: relative;
    background-color: grey;
    border-radius: 15px 15px 0px 0px;
}

#progressBar {
    position: absolute;
    height: 10px;
    background-color: lightskyblue;
    width: 100px;
    border-radius: 15px 15px 0px 0px;
    
}

#playButton {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url("images/playbutton.png");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}

#soundButton {
    background-color: red;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url("images/soundbutton.png");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}

#soundButton:active , #playButton:active{
    position: relative;
    top: 2px;
}