
body {
    /* background-color: #666; */
    height: 100%;
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5%;
}

.btn:hover {
    background-color: #fff;
    color: #f00001;
    font-weight: 900;
    border: 1px solid #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #fff
}

.nav-container {
    display: flex;
    width: 65%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.logo-container {
    height: 100%;
    width: 10%;
}

.logo-container h1 {
    font-family: 'Muli', sans-serif;
    color: #f00001;
}

.links-container {
    height: 100%;
    width: 30%;
    display: flex;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    justify-content: space-between;
}

.nav-link {
    color: #f00001;
    letter-spacing: 2px; 
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 35px;
    width: 100%;
    color: white;
    font-family: 'Muli', sans-serif;
    background-color: #f00001;
    position: fixed;
}

.logo-box {
  height: 210px;
  width: 420px;
  float: left;
  background-color: #5c2839;
}

.TopButtons li {

    display: inline;
}

.twitter-feed {
    right: 0;
    width: 400px;
    border: 2px solid red;
}