:root {
    --red-salsa: #F73845;
}

@font-face {
    font-family: 'Ostrich';
    src: url(../assets/fonts/ostrich-regular.ttf);
}

@font-face {
    font-family: 'Bebas';
    src: url(../assets/fonts/BEBAS___.ttf);
}

@font-face {
    font-family: 'Bananas';
    src: url(../assets/fonts/BananasPersonalUse.ttf);
}

@font-face {
    font-family: 'WhoopAss';
    src: url(../assets/fonts/WHOOPASS.TTF);
}

body {
    /* background-color: #666; */
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-family: 'WhoopAss';
    font-size: 35px;
    letter-spacing: 3px;
}

.navbar-default {
    background-color: var(--red-salsa);
}

.navbar .navbar-toggler {
    border: transparent;
    outline: none;
}

.main-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cd-section {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--red-salsa);
}

#social-links {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-links a>i {
    color: #fff;
}

#copyright {
    width: 15%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}

#copyright p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}

.logo-box {
    height: 210px;
    width: 420px;
    float: left;
    background-color: #5c2839;
}

.TopButtons li {
    display: inline;
}

#playerwrapper {
    width: 400px;
    margin: 5px auto;
    border-radius: 15px 15px;
}

#playerwrapper nav {
    background-color: red;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    padding-bottom: 1px;
    border-radius: 15px;
}

#defaultBar {
    height: 10px;
    width: 400px;
    position: relative;
    background-color: grey;
    border-radius: 15px 15px 0px 0px;
}

#progressBar {
    position: absolute;
    height: 10px;
    background-color: lightskyblue;
    width: 100px;
    border-radius: 15px 15px 0px 0px;
}

#playButton {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url("images/playbutton.png");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}

#soundButton {
    background-color: red;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url("images/soundbutton.png");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}

#soundButton:active,
#playButton:active {
    position: relative;
    top: 2px;
}

@media screen and (max-width: 900px) {
    #social-links,
    #copyright {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    #social-links,
    #copyright {
        width: 30%;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        height: 90px;
    }
    #social-links {
        height: 55px;
        width: 100%;
    }
    #copyright {
        height: 35px;
        width: 100%;
    }
}